.category-container {
  min-width: 100%;
  height: auto;
  .category-header {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #f1f3f5;
    border-top: 1px solid #3333;
    padding: 0 20px;

    .filter-toggle {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }
    }
  }

  .category-body {
    display: flex;
    height: calc(100%-50px);
    width: 100%;

    
  }
}

@media screen and (max-width : 600px) {
  .category-body {
    flex-direction: column;
  }
}
