.sign-in-container {
    width: 50%;
    padding: 30px 60px;
    .form {
        margin-top: 30px;
        .field-label {
            display: block;
            font-size: 20px;
            margin: 10px 0;
        }
        .field-options {
            width: 400px;
            padding: 10px;
        }
        .field-input {
            padding: 5px;
            width: 400px;
        }
        .btn-group {
            display: flex;
            .btn {
                display: block;
                margin-top: 20px;
                padding: 10px 20px;
                color: white;
                cursor: pointer;
                border: none;
            }
            .btn-dark {
                background: black;
            }
            .btn-blue {
                background: rgb(0, 107, 230);
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .sign-in-container {
        width: 100%;
        padding: 30px 10px;
        .from-title {
            font-size: 15px;
        }
        .form {
            .field-input {
                padding: 5px;
                width: 100%;
            }
        }
    }
}